* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #efeef0;
  --secondary-color: #1f1d1d;
  --third-color: #e0cea4;
  --fourth-color: #ff1808;
  --fift-color: #1715c7;
  --min-width: 320px;
  --max-width: 1800px;
  --main-font-family: "Open Sans", sans-serif;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
body {
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: 0 auto;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8% 20px 8%;
  background-color: var(--secondary-color);
  position: relative;
}
.header-icon {
  width: 60px;
  height: 60px;
}
.header-menu-image {
  width: 60px;
  height: 50px;
}
.nav-image {
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.header-nav {
  display: none;
  position: absolute;
  width: 70%;
  background-color: var(--secondary-color);
  border: 2px solid var(--main-color);
  border-radius: 15px;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 120%);
  padding: 20px 0;
  font-family: var(--main-font-family);
  z-index: 5;
  font-size: 1.6rem;
}
.nav-list li {
  padding: 10px 0 10px 20px;
  color: var(--main-color);
  font-weight: 400;
}
.nav-list li:active {
  background-color: var(--fourth-color);
}
main {
  font-family: var(--main-font-family);
}
.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.presentation-block {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
  padding-top: 100px;
  color: var(--secondary-color);
}
.section-name {
  font-size: 3.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.presentation-section-name {
  color: var(--main-color);
  position: absolute;
  top: 10px;
  left: 10px;
}
.presentation-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.presentation-image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation-image-block img {
  width: 272px;
  height: 272px;
  border: 5px solid var(--main-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
}
.presentation-image-block figcaption {
  color: var(--main-color);
  margin: 35px 0;
  font-weight: 600;
  font-size: 1.4rem;
}
.presentation-text {
  color: var(--main-color);
  font-weight: 600;
  line-height: 30px;
  text-align: justify;
  font-size: 1.6rem;
}
.deploy {
  display: block;
}
.eliminate {
  display: none;
}
.tech {
  position: relative;
  background-color: var(--main-color);
  padding: 12px;
  padding-top: 100px;
}
/* .tech-section-name
{
    top: 60px;
    left: 24px;
} */
.tech-icon-section {
  color: var(--secondary-color);
}
.skills,
.learning {
  padding: 12px;
  padding-top: 60px;
}
.hability-section {
  font-size: 3.2rem;
}
.hability-section img {
  width: 55px;
  height: 55px;
}
.skills-images-container {
  width: 100%;
  min-height: 100px;
}
.skills-images-container p,
.learning-images-container p {
  font-size: 1.8rem;
  font-weight: 500;
}
.skills-images img,
.learning-images img {
  width: 100%;
  height: 100px;
}
.skills-images,
.learning-images {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 30px;
  /* min-height: 320px; */
}
.projects {
  padding: 60px 12px 0px 12px;
  background-color: var(--secondary-color);
}
.projects-icon-section {
  color: var(--main-color);
}
.project-section {
  margin-top: 75px;
  padding: 0 15px 0 15px;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.project-section-box {
  margin: 0 15px;
}
.project-section-container {
  position: relative;
  z-index: 2;
  scroll-snap-align: center;
  min-width: 270px;
  min-height: 210px;
  background-image: url("https://uploads.candelaestereo.com/1/2020/05/la-playlist-especial-para-recordar-a-diomedes-diaz-en-su-cumpleanos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--main-color);
}
.project-section::-webkit-scrollbar {
  height: 150px;
}
.project-section::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border: 70px solid var(--secondary-color);
  border-radius: 999px;
}
.project-title,.skills-project-text
{
  background-color: var(--main-color);
  color: var(--secondary-color);
}
.project-title
{
  padding: 10px 0px 10px 0px;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.skills-project-text
{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  font-size: 2.0rem;
  font-weight: 600;
  width: 100%;
  z-index: 1;
}
.skill-text-content
{
  display: flex;
  color: var(--secondary-color);
}
.skill-text-content img
{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
footer
{
  padding: 60px 12px 0px 12px;
  background-color: var(--main-color);
  font-family: var(--main-font-family);
}
footer .section-name
{
  font-weight: bold;
}
.contact-me
{
  padding: 30px 0px 30px 10px;
}
.contact-me h3
{
  font-size: 2.2rem;
}
.contact-me p
{
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0px 20px 5px;
}.contact-list
{
  padding-top: 30px;
  padding-left: 10px;
}
.contact-me .contact-list li,
.contact-me .contact-list a
{
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-me .contact-list a
{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.contact-me .contact-list span
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.contact-list li:first-child span
{
  background-image: url("../assets/linkedln.png");
}
.contact-list li:nth-child(2) span
{
  background-image: url("../assets/github-icon.png");
}
.contact-list li:last-child span
{
  background-image: url("../assets/iga.png");
}

